# See https://circleci.com/docs/2.0/language-ruby/ for more details

version: 2.1

orbs:
  ruby: circleci/ruby@2.0.1

jobs:
  checks:
    parallelism: 1
    resource_class: small
    docker:
      - image: cimg/ruby:3.3.10
    steps:
      - checkout
      - ruby/install-deps:
          key: gems-v1
          include-branch-in-cache-key: false
      # - ruby/rubocop-check
      - run:
          name: RSpec Tests
          command: |-
            bundle exec rspec --format RspecJunitFormatter \
              --out /tmp/test-results/rspec/results.xml --format progress
      # actually not necessary for test results to be collected, but these files
      # won't show up in the web UI otherwise
      - store_artifacts:
          path: /tmp/rspec/
          destination: rspec
      - store_test_results:
          path: /tmp/rspec/

workflows:
  version: 2
  checks:
    jobs:
      - checks
